---
import BaseLayout from '../../layouts/BaseLayout.astro';

const windowsMachines = [
    { name: 'Windows Machine 1', slug: 'windows-machine-1' },
    { name: 'Windows Machine 2', slug: 'windows-machine-2' }
];

const linuxMachines = [
    { name: 'Linux Machine 1', slug: 'linux-machine-1' },
    { name: 'Linux Machine 2', slug: 'linux-machine-2' }
];
---

<BaseLayout
    title="Machines"
    description="Browse through the list of machines, organized by operating system. Click on any machine to view the detailed writeup."
    showHeader={false}
>
    <h1 class="mb-12 text-2xl font-serif italic sm:mb-16 sm:text-4xl">All Machines</h1>

    <h2 class="text-xl font-serif">Windows Machines</h2>
    <ul>
        {
            windowsMachines.map((machine) => (
                <li class="mb-10 flex justify-between items-start gap-8 group sm:mb-12">
                    <a href={`/machines/windows/${machine.slug}`} class="group-hover:underline group-hover:decoration-dashed">
                        {machine.name}
                    </a>
                </li>
            ))
        }
    </ul>

    <h2 class="text-xl font-serif mt-12">Linux Machines</h2>
    <ul>
        {
            linuxMachines.map((machine) => (
                <li class="mb-10 flex justify-between items-start gap-8 group sm:mb-12">
                    <a href={`/machines/linux/${machine.slug}`} class="group-hover:underline group-hover:decoration-dashed">
                        {machine.name}
                    </a>
                </li>
            ))
        }
    </ul>
</BaseLayout>
